.slide {
    display: flex;
    align-items: center;
}

.SværtLav {
    background-color: lightgreen;
}

.Lav {
    background-color: green;
}

.Middels {
    background-color: yellow;
}

.Høy {
    background-color: #FF7F7F;
}

.SværtHøy {
    background-color: red;
}

td.SværtLav, td.Lav, td.Middels, td.Høy, td.SværtHøy{
    color: black;
}

th, td {
    border-left: 1px solid;
    border-right: 1px solid;
}

