.whiteTxt {
    color: antiquewhite;
}

.midAlign {
    text-align: center;
}

.pmain {
    font-size: 20px;
}

.big {
    font-size: 50px;
}

.medium {
    font-size: 25px;
}

.small {
    font-size: 17px;
}

.middle {
    align-items: center;
}

