<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/aboutStyle.css">

</head>
<body class="container gradient-border">

    <div class="topL"></div>
    <div class="topM">
        <img src="/images/Logo3.png">
        
    </div>
    <div class="topR">
    
          <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
          <label for="menu-icon"></label>
          <nav class="nav"> 		
              <ul class="pt-5">
                  <li><a href="/">Home</a></li>
                  <li><a href="movies">Movies</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="support">Support</a></li>
              </ul>
          </nav>
    
    </div>
    <div class="midL"></div>
    <div class="mid">
        <p class="whiteTxt midAlign pmain">This page is mostly for extra details about the programm and
            some other projects you can look at to have a better understanding
            of my expirience
        </p>
        <div>
            <a class="button-34">Projects</a>
            <a href="about/riskAsses" class="button-34" >Risk assesement</a>
            <a class="button-34" >Prerequisites</a>
        </div>
    </div>
    <div class="midR"></div>
    <div class="footL"></div>
    <div class="footM"></div>
    <div class="footR"></div>
   

</body>
</html>