<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie results</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/movieStyle.css">

</head>

<body class="gradient-border">
    <div>
        <img src="/images/Logo3.png">
    </div>

    <div class="whiteTxt">
        <ul>
            <% for (const decision of decisions) {%>
                <li>
                    <%= decision.movieTitle %> [ <%= decision.yesNo %> ]
                </li>
                <% } %>
        </ul>
    </div>
    <div><a href="/">Home</a></div>
    

</body>

</html>