<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
</head>
<body class="container gradient-border">

    <div class="topL"></div>
    <div class="topM">
        
    </div>
    <div class="topR">
    
          <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
          <label for="menu-icon"></label>
          <nav class="nav"> 		
              <ul class="pt-5">
                  <li><a href="#">Work</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </nav>
    
          <div class="section-center">
              <h1 class="mb-0">Pure CSS Menu</h1>
          </div>
    </div>
    <div class="midL"></div>
    <div class="mid">
        <h1>Hello world!</h1>
       
    </div>
    <div class="midR"></div>
    <div class="footL"></div>
    <div class="footM"></div>
    <div class="footR"></div>
   

<script src="js/API.js"></script>
<script src="js/navbar.js"></script>
</body>
</html>