<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/movieStyle.css">
</head>
<body class="container gradient-border">

    <div class="topL"></div>
    <div class="topM"></div>
    <div class="topR">
        <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
          <label for="menu-icon"></label>
          <nav class="nav"> 		
              <ul class="pt-5">
                  <li><a href="/">Home</a></li>
                  <li><a href="movies">Movies</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </nav>
    
    </div>
    <div class="midL"></div>
    <div class="mid">
        <div class="whiteTxt">
            <div>
            <p>
                <% topMovies.map((movie) => { %>
                    <%- include('../partials/movie', {movie:movie}); -%>
      
                <%});%> 
              </p>
            </div>
        </div>
        
    </div>
    <div class="midR"></div>
    <div class="footL"></div>
    <div class="footM">
        <img id="yes" src="/images/greenCheck2.png" width="150">
        <img id="no" src="/images/redX.png" width="150">

    </div>
    <div class="footR"></div>
   
    

<script src="js/API.js"></script>
<script src="js/moviePick.js"></script>

</body>
</html>