<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/aboutStyle.css">

</head>
<body class="gradient-border whiteTxt">

  
        <img src="/images/Logo3.png">
        

    <a href="/about/projects" class="button-34" >Return</a>
    <h1>Lag 1</h1>
    <select name="fotballLag1" id="fotballLag1">
        <option value="FC Inter">FC Inter</option>
        <option value="AC Milan">AC Milan</option>
        <option value="AS Roma">AS Roma</option>
    </select>   Antall mål:<input type="number" name="mål1" id="mål1">
    <h2>Lag 2</h2>
    <select name="fotballLag2" id="fotballLag2">
        <option>FC Inter</option>
        <option>AC Milan</option>
        <option>AS Roma</option>
    </select>   Antall mål:<input type="number" name="mål2" id="mål2"><br><br>
    <button onclick="visResultat()" id="resultatKnapp">Resultat:</button>

    <table id="resultat"></table>


    <table id="endeligResultat">
        <tr>
            <th>Nr</th>
            <th>Lag</th>
            <th>Antall kamper</th>
            <th>Antall kamper vunnet</th>
            <th>Antall kamper uavgjort</th>
            <th>Antall kamper tapt</th>
            <th>Egne mål</th>
            <th>Mål mot</th>
            <th>Mål-forksjell</th>
            <th>Poeng-sum</th>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
    </table>

<script src="/js/project1Script.js"></script>
   

</body>
</html>