<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/inStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/borderStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/txtStyling.css">
    <link rel="stylesheet" type="text/css" href="/css/movieStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/supportStyle.css">

</head>
<body class="container gradient-border">

    <div class="topL"></div>
    <div class="topM">
        <img src="/images/Logo3.png">
    </div>
    <div class="topR">
        <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
          <label for="menu-icon"></label>
          <nav class="nav"> 		
              <ul class="pt-5">
                  <li><a href="/">Home</a></li>
                  <li><a href="movies">Movies</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="support">support</a></li>
              </ul>
          </nav>
    </div>
    <div class="midL"></div>
    <div class="mid">
        <form class="supportForm">
        <lable class="whiteTxt medium">Name:</lable><input type="text" name="name" id="">
        <label class="whiteTxt medium">Email:</label><input type="email" name="mail" id="">
        <textarea  cols="80" rows="20"></textarea>
        <label class="whiteTxt medium">Send</label><input type="submit" value="">
        </form>
    </div>
    <div class="midR"></div>
    <div class="footL"></div>
    <div class="footM"></div>
    <div class="footR"></div>
   
    



</body>
</html>